

<section class="no-padding sh-career">
  <div class="sub-header ">
    <span>Finding The Right One Isn't Hard</span>
    <h1>CAREER</h1>
    <ol class="breadcrumb justify-content-center">
      <li>
        <a href="/"><i class="fa fa-home"></i> HOME </a>
      </li>
      <li>
        <a href="#">COMPANY     </a>
      </li>
      <li class="page-active">CAREER</li>
    </ol>
  </div>
</section>

<section class="no-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 desk-pdt-100">
        <div class="title-block title-contact">
          <h2>Why join DevCache? </h2>
          <span class="bottom-title"></span>
        </div>
        <p>DevCache provides a platform to accelerate your growth and get exposure to the latest market trends globally. Avail the biggest chance to create a career that you dream of.</p>
        <div class="space-30"></div>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-check-icon">
              <li>Paid Leaves including paternal leaves</li>
              <li>Medical Facilities</li>
              <li>Recreation Area</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-check-icon">
              <li>Bonuses and Incentives</li>
              <li>Allowances</li>
              <li>Personal Growth Development</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 img-responsive">
        <%= image_tag"career1.png", class:"img-responsive", alt:"Career image" -%>
      </div>
    </div>
  </div>
</section>



<section class="bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-block title-contact">
          <h2>Available Jobs</h2>
          <span class="bottom-title"></span>
        </div>
          <div class="list-job-warp">
            <div class="table-warp">
              <div class="table-responsive">
                <table class="table table-hover table-reset">
                  <thead>
                    <tr>
                      <th>Job Code</th>
                      <th>Job Title</th>
                      <th>Location</th>
                      <th>Department</th>
                      <th>Job Closed</th>
                    </tr>
                  </thead>
                  <tbody id="accordion">
                      <tr role="button" class="accordion-term" id="job1">
                        <td>EL-JOBS-INTERNSHIP-0122</td>
                        <td>Software Development Internship</td>
                        <td>Lahore </td>
                        <td>Engineering Department</td>
                        <td>May 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details1">
                        <td colspan="5">
                         <div class="list-job-description-warp text-left">
                           <p class="sub-text-career"><p><strong>Company Description:</strong>&nbsp;<br />
                            <br />
                            DevCache provides a platform to accelerate your growth and get exposure to the latest market trends globally. Avail the biggest chance to create a career that you dream of.</p>

                            <p>we are offering paid leaves and paternal leaves as well, facilitating our employees with medical facilitation, incentives, bounces, Allowances with personal and professional career growth with a suitable work environment.</p>

                            <p><strong>Job Description:</strong></p>

                            <p>We are seeking a fresh or last semester student who has a strong grip on the backend framework, The individual should be a quick learner and should be able to perform his/her tasks with minimal oversight or assistance.</p>

                            <p><strong>Requirements &amp; Responsibilities :</strong></p>

                            <ul>
                              <li>Candidate must have strong concepts in OOP, Data structure, and Databases.</li>
                              <li>Must have strong logical and analytical skills.</li>
                              <li>Must have a&nbsp; strong grip on backend development concepts.</li>
                              <li>Excellent analytical, communication, and problem-solving skills.</li>
                              <li>Hardworking, empathetic, passionate, energetic, organized, polished, and sharp.</li>
                              <li>Ensuring timely completion of tasks with top-quality output with an enthusiastic approach.</li>
                              <li>Must have a bachelor&#39;s degree in CS, IT, or related fields.</li>
                              <li>Final Year students are encouraged to apply.</li>
                              <li>A programming attitude is a must-have.</li>
                              <li>Working with senior team members to understand the workflow.</li>
                            </ul>
                            </p>
                           <div class="space-30"></div>
                           <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                         </div>
                        </td>
                      </tr>


                      <tr role="button" class="accordion-term" id="job2">
                        <td>EL-JOBS-INTERNSHIP-0122</td>
                        <td>Software Development Internship</td>
                        <td>Lahore </td>
                        <td>Engineering Department</td>
                        <td>May 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details2">
                         <td colspan="5">
                           <div class="list-job-description-warp text-left">
                             <p class="sub-text-career"><p><strong>Company Description:</strong>&nbsp;<br />
                              <br />
                              DevCache provides a platform to accelerate your growth and get exposure to the latest market trends globally. Avail the biggest chance to create a career that you dream of.</p>

                              <p>we are offering paid leaves and paternal leaves as well, facilitating our employees with medical facilitation, incentives, bounces, Allowances with personal and professional career growth with a suitable work environment.</p>

                              <p><strong>Job Description:</strong></p>

                              <p>We are seeking a fresh or last semester student who has a strong grip on the backend framework, The individual should be a quick learner and should be able to perform his/her tasks with minimal oversight or assistance.</p>

                              <p><strong>Requirements &amp; Responsibilities :</strong></p>

                              <ul>
                                <li>Candidate must have strong concepts in OOP, Data structure, and Databases.</li>
                                <li>Must have strong logical and analytical skills.</li>
                                <li>Must have a&nbsp; strong grip on backend development concepts.</li>
                                <li>Excellent analytical, communication, and problem-solving skills.</li>
                                <li>Hardworking, empathetic, passionate, energetic, organized, polished, and sharp.</li>
                                <li>Ensuring timely completion of tasks with top-quality output with an enthusiastic approach.</li>
                                <li>Must have a bachelor&#39;s degree in CS, IT, or related fields.</li>
                                <li>Final Year students are encouraged to apply.</li>
                                <li>A programming attitude is a must-have.</li>
                                <li>Working with senior team members to understand the workflow.</li>
                              </ul>
                              </p>
                             <div class="space-30"></div>
                             <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                           </div>
                         </td>
                      </tr>

                      <tr role="button" class="accordion-term" id="job3">
                        <td>EL-JOBS-SE-ROR-0122</td>
                        <td>Software Engineer (Ruby on Rails)</td>
                        <td>Lahore</td>
                        <td>Engineering Department</td>
                        <td>Jun 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details3">
                        <td colspan="5">
                           <div class="list-job-description-warp text-left">
                             <p class="sub-text-career"><p><u><strong>Job Requirements:</strong></u></p>

                              <ul data-border="0" data-indent="0" data-stringify-type="unordered-list">
                                <li>1+ years of working experience as a Ruby on Rails developer.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Good experience in developing highly interactive applications.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Good experience with relational and NoSQL databases.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Excellent knowledge of object-oriented analysis and design.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Strong ability to write great,&nbsp;simple,&nbsp;clean,&nbsp;efficient code.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Familiar with web standards</li>
                                <li data-stringify-border="0" data-stringify-indent="0">BS or MS degree in Computer Science٫ Engineering or another related area.</li>
                              </ul>

                              <p><u><strong>Job Responsibilities:</strong></u></p>

                              <ul data-border="0" data-indent="0" data-stringify-type="unordered-list">
                                <li data-stringify-border="0" data-stringify-indent="0">Performing coding assignments.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Reviewing code work for accuracy and functionality.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Creating and implementing design plans.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Analyzing code segments regularly.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Delegating tasks to team members.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Keeping up-to-date with industry trends and technology developments.</li>
                              </ul>
                              </p>
                             <div class="space-30"></div>
                             <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                           </div>
                        </td>
                      </tr>

                      <tr role="button" class="accordion-term" id="job4">
                        <td>EL-JOBS-SSE-ROR-0122</td>
                        <td>Senior Software Engineer (Ruby on Rails)</td>
                        <td>Lahore </td>
                        <td>Engineering Department</td>
                        <td>Jun 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details4">
                        <td colspan="5">
                          <div class="list-job-description-warp text-left">
                            <p class="sub-text-career"><p><b data-stringify-type="bold">About us :</b><br />
                            DevCache is one of the leading software houses which provide high-level quality software products and services globally that meet the needs of its customers. Our customized approach and commitment to providing superior quality IT solutions have enabled us to help our clients streamline their business operations.&nbsp;<b data-stringify-type="bold">Job Requirements:&nbsp;</b></p>

                            <ul data-border="0" data-indent="0" data-stringify-type="unordered-list">
                              <li data-stringify-border="0" data-stringify-indent="0">3+ years of experience as a Ruby on Rails developer.</li>
                              <li data-stringify-border="0" data-stringify-indent="0">BS/MS in Computer Science or related field.</li>
                              <li data-stringify-border="0" data-stringify-indent="0">Must be fluent in English and can handle Client Communication.</li>
                              <li data-stringify-border="0" data-stringify-indent="0">Excellent written and verbal communication skills.</li>
                              <li data-stringify-border="0" data-stringify-indent="0">Profound experience with front-end technologies such as JavaScript٫ HTML٫ CSS, jQuery, etc.</li>
                              <li data-stringify-border="0" data-stringify-indent="0">Must be confident and have good time management skills.</li>
                            </ul>

                              <p><b data-stringify-type="bold">Job Responsibilities:</b></p>

                              <ul data-border="0" data-indent="0" data-stringify-type="unordered-list">
                                <li data-stringify-border="0" data-stringify-indent="0">Performing coding assignments.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Reviewing code work for accuracy and functionality.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Creating and implementing design plans.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Analyzing code segments regularly.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Delegating tasks to team members.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Keeping up-to-date with industry trends and technology developments.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Extensive experience in software development.</li>
                                <li data-stringify-border="0" data-stringify-indent="0">Experience using system monitoring tools and automated testing frameworks.</li>
                              </ul>
                              </p>
                             <div class="space-30"></div>
                             <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                           </div>
                         </td>
                      </tr>


                      <tr role="button" class="accordion-term" id="job5">
                          <td>EL-JOBS-SE-NODE-0122</td>
                          <td>Software Engineer (Node.Js)</td>
                          <td>Lahore </td>
                          <td>Engineering Department</td>
                          <td>Jun 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details5">
                         <td colspan="5">
                           <div class="list-job-description-warp text-left">
                            <p class="sub-text-career"><p><strong>Company Description</strong> <strong>:</strong><br /><br />
                            DevCache provides a platform to accelerate your growth and give you exposure to the latest market trends globally. Avail the chance to create a career that you dream of. We are facilitating our employees with medical incentives, bonuses, and various allowances, and encourage our employees to maintain a balanced work and family life.<br />
                            We are looking for Node.js developers who are interested in experimentation and challenging the convention who are visionary problem solvers, who will work to build skills in our key areas of focus; software architecture and software development.</p>

                            <p><strong>Requirements :</strong></p>

                              <ul>
                                <li>
                                <p>Knowledge of Node.js and frameworks available for it&nbsp;<strong>such as Express, Strong Loop, etc </strong></p>
                                </li>
                                <li>
                                <p>&nbsp;Must have 1 year of experience developing applications on Node JS.</p>
                                </li>
                                <li>
                                <p>Developing application codes &amp; unit tests in AngularJS, Java Technologies, &amp; Rest Web Services</p>
                                </li>
                                <li>
                                <p>Conducting performance tests, ensuring high performance of applications &amp; providing support</p>
                                </li>
                              </ul>

                              <p>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&bull; Documenting Node.js processes, including database schemas, as well as preparing reports.</p>

                              <ul>
                                <li>
                                <p>Ensure code quality, coding standards.</p>
                                </li>
                                <li>
                                <p>Good understanding of server-side CSS preprocessors.</p>
                                </li>
                                <li>
                                <p>Writing reusable, testable, and efficient code.</p>
                                </li>
                              </ul>

                              <p><strong>Skills/Qualification.</strong></p>

                              <ul>
                                <li>
                                <p>Bachelor&#39;s degree in computer science, information science, or similar.</p>
                                </li>
                                <li>
                                <p>At least one year of experience as a Node.js developer.</p>
                                </li>
                                <li>
                                <p>Can work independently and with a team.</p>
                                </li>
                                <li>
                                <p>Great organizational and time management skills.</p>
                                </li>
                                <li>
                                <p>Attention to detail, Solid at Logical thinking and Problem-solving.</p>
                                </li>
                              </ul>
                              </p>
                             <div class="space-30"></div>
                             <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                           </div>
                         </td>
                      </tr>

                      <tr role="button" class="accordion-term" id="job6">
                        <td>EL-JOBS-JAVA-0122</td>
                        <td>Software Engineer (Java) </td>
                        <td>Lahore </td>
                        <td>Engineering Department</td>
                        <td>Jun 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details6">
                        <td colspan="5">
                          <div class="list-job-description-warp text-left">
                            <p class="sub-text-career"><p><strong>Office Description:</strong><br /><br />
                            At DevCache, you will be working in a pleasant working environment with products built for renowned customers in various domains. Considering DevCache is currently a small-scale company, this may become a challenging working experience considering the amount of work we have. But we can guarantee you that you will get the expertise on working on many cutting edge tools and technologies.<br />
                            We at DevCache, are always interested in long-term employment. To ensure the happiness and satisfaction of our employees, the following benefits are an integral part of our corporate culture:</p>

                              <ul>
                                <li>Adequate salary</li>
                                <li>Flexible working hours</li>
                                <li>A disciplined but an easy-going workplace</li>
                                <li>Various staff events</li>
                              </ul>

                              <p>And many more.</p>

                              <p><strong>Job Description:</strong></p>

                              <ul>
                                <li>Should have a basic knowledge of Object-Oriented Programming.</li>
                                <li>Should have a basic knowledge of prominent data structures.</li>
                                <li>Must already have hands-on experience in Java programming (this may include academic experience)</li>
                                <li>B.S. in Computer Science or any other relevant program.</li>
                              </ul>
                              </p>
                             <div class="space-30"></div>
                             <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                           </div>
                         </td>
                      </tr>

                      <tr role="button" class="accordion-term" id="job7">
                        <td>EL-JOBS-SE-Mern-0122</td>
                        <td>Software Engineer Mern Stack </td>
                        <td>Lahore </td>
                        <td>Engineering Department</td>
                        <td>Jun 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details7">
                        <td colspan="5">
                           <div class="list-job-description-warp text-left">
                            <p class="sub-text-career"><p>DevCache provides a platform to accelerate your growth and give you exposure to the latest market trends globally. Avail the chance to create a career that you dream of. We are facilitating our employees with medical incentives, bonuses, and various allowances, and encourage our employees to maintain a balanced work and family life.</p>

                            <p><strong>Responsibilities:</strong></p>

                              <ul>
                                <li>Ability to translate Wireframes and PSD Designs into functional web apps using HTML5, AngularJS, React, Node.js, and Mongo</li>
                                <li>Binding of UI elements to JavaScript object models</li>
                                <li>Creating RESTful services with Node.js</li>
                                <li>Architect scalable web architectures</li>
                                <li>Work in a cross-functional team to deliver a complete user experience</li>
                                <li>Create Unit and Integration tests to ensure the quality of code</li>
                              </ul>

                              <p><strong>Requirements:</strong></p>

                              <ul>
                                <li>1-2 years of minimum experience in creating complex HTML based solutions</li>
                                <li>Must have 1 year of experience in React JS.</li>
                                <li>Detail-oriented experience as a Node.js and Express developer.</li>
                                <li>Ability to work both independently and in collaborative teams to communicate design and build ideas effectively</li>
                                <li>Fluent knowledge of the latest HTML/CSS standards and best practices</li>
                                <li>Working knowledge of Node.js and Express</li>
                                <li>Solid understanding of HTTP protocol and how server-side code is processed on the client</li>
                                <li>Working knowledge of front end optimization and performance techniques</li>
                                <li>Obsession with lean, clean, and organized front-end code</li>
                                <li>Cross-browser development and troubleshooting</li>
                              </ul>
                              </p>
                             <div class="space-30"></div>
                             <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                           </div>
                        </td>
                      </tr>

                      <tr role="button" class="accordion-term" id="job8">
                        <td>EL-JOBS-SE-REACT.JS-0122</td>
                        <td>Software Engineer React.JS </td>
                        <td>Lahore </td>
                        <td>Engineering Department</td>
                        <td>Jun 30,2022</td>
                      </tr>

                      <tr class="detail-data" id="details8">
                        <td colspan="5">
                          <div class="list-job-description-warp text-left">
                            <p class="sub-text-career"><p>DevCache provides a platform to accelerate your growth and give you exposure to the latest market trends globally. Avail the chance to create a career that you dream of. We are facilitating our employees with medical incentives, bonuses, and various allowances, and encourage our employees to maintain a balanced work and family life.</p>

                            <p><strong>Responsibilities:</strong></p>

                              <ul>
                                <li>Ability to translate Wireframes and PSD Designs into functional web apps using HTML5, AngularJS, React, Node.js, and Mongo</li>
                                <li>Binding of UI elements to JavaScript object models</li>
                                <li>Creating RESTful services with Node.js</li>
                                <li>Architect scalable web architectures</li>
                                <li>Work in a cross-functional team to deliver a complete user experience</li>
                                <li>Create Unit and Integration tests to ensure the quality of code</li>
                              </ul>

                              <ul>
                                <li data-list="none">&nbsp;</li>
                              </ul>

                              <p><strong>Requirements:</strong></p>

                              <ul>
                                <li>1-2 years minimum in creating complex HTML based solutions</li>
                                <li>Must have 1 year of experience in React JS.</li>
                                <li>Detail-oriented experience as a Node.js and Express developer.</li>
                                <li>Ability to work both independently and in collaborative teams to communicate design and build ideas effectively</li>
                                <li>Fluent knowledge of the latest HTML/CSS standards and best practices</li>
                                <li>Working knowledge of JavaScript and AngularJS</li>
                                <li>Working knowledge of Node.js and Express</li>
                                <li>Solid understanding of HTTP protocol and how server-side code is processed on the client</li>
                                <li>Working knowledge of front end optimization and performance techniques</li>
                                <li>Obsession with lean, clean, and organized front-end code</li>
                                <li>Cross-browser development and troubleshooting</li>
                              </ul>
                              </p>
                             <div class="space-30"></div>
                             <a class="ot-btn btn-sub-color pull-left" href="/careers/new">Apply Now!</a>
                           </div>
                         </td>
                      </tr>

                  </tbody>
                </table>
              </div>
              <div class="col-md-12">
                <div class="custom-pagination">

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-subcr-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="subcribe-warp">
          <p class="sub-text-subcri">Newsletter for recieve </p>
          <form class="form-inline form-subcri">
            <div class="form-group">
              <label for="exampleInputName2"><small>our <span> latest company</span>updates</small></label>
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Your E-mail Address">
            </div>
            <button type="submit" class="btn-subcrib"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
$(document).ready(function(){

  $("#job1").click(function(){
    $("#details1").slideToggle("slow");
  });

  $("#job2").click(function(){
    $("#details2").slideToggle("slow");
  });

  $("#job3").click(function(){
    $("#details3").slideToggle("slow");
  });

  $("#job4").click(function(){
    $("#details4").slideToggle("slow");
  });

  $("#job5").click(function(){
    $("#details5").slideToggle("slow");
  });

  $("#job6").click(function(){
    $("#details6").slideToggle("slow");
  });

  $("#job7").click(function(){
    $("#details7").slideToggle("slow");
  });

  $("#job8").click(function(){
    $("#details8").slideToggle("slow");
  });

});
</script>