<style type="text/css">
  .icon-stats-bars:before {
   content: "\e99c"
  }
</style>
<section class="no-padding sh-about">
  <div class="sub-header ">
    <span>COMPANY PROFILE</span>
    <h1>ABOUT US</h1>
    <ol class="breadcrumb justify-content-center">
      <li>
        <a href="/"><i class="fa fa-home"></i> HOME </a>
      </li>
      <li>
        <a href="#">COMPANY     </a>
      </li>
      <li class="page-active">ABOUT US</li>
    </ol>
  </div>
</section>

<section class="no-padding">
  <div class="container">
    <div class="row">
      <div class="whyus-warp-h2 whyus-about">
        <div class="col-md-6">
          <div class="left-whyus-h2">
            <div class="demo-style-1-warp">
              <%= image_tag "demo-style-1-656157adc6ba7f53d1acf01c0898d91ca81b5ad9a58a3b23e1109fdfdaee235e.jpg", alt: "Img" -%>
              <div class="demo-style-1-box-text right">
                <p>Today,</p>
                <p>Tomorrow,</p>
                <p>Together.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-whyus-h2">
          <div class="iconbox-warp ">
            <h2 class="title-mix">About<strong> DEVCACHE </strong></h2>
            <p class="demo-sub-about-text-2">We provide the high level quality software products and services globally that meet the needs of our customers by maintaining our staff as our principal asset and being responsive to market expectations. Any progressive business demands the right tools to guide innovation and achieve strategic superiority. Our customized approach and commitment to providing superior quality IT solutions has enabled us to help our clients streamline their business operations.</p>
            <h3>Professional Services</h3>
            <p>We build strong working relationships and to do that we make sure we provide the best possible services for your work. Because we enjoy the work, we enjoy what we do.</p>
            <h3>Quality Of Work Life</h3>
            <p>We promise to provide the best quality work. As the quality of your work, in the long run, is the deciding factor on how much your services are valued by the world.</p>
            <h3>Creative Solutions</h3>
            <p>Creativity is where you stand with a foot in two worlds - the world of technology and the world of people and human purposes - and you try to bring the two together.</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding bg-counter-h1">
  <div class="container">
    <div class="row">
      <div class="warp-counter">
        <div class="col-md-4 col-sm-6">
          <div class="counter-inline">
            <span class="fa fa-bar-chart mt-2" aria-hidden="true"></span>
            <span class="counter">100+</span>
            <p>Projects completed</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="counter-inline">
            <span class="fa fa-users mt-2" aria-hidden="true"></span>
            <span class="counter">100+</span>
            <p>Clients</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="counter-inline">
            <span class="fa fa-university mt-2" aria-hidden="true"></span>
            <span class="counter">10+</span>
            <p>Years of Experience</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="strategy-warp-h4 whyus-about">
          <div class="title-block text-center">
            <span class="top-title"></span>
            <h2>Why to choose us</h2>
            <p class="sub-title">As always, partners grows with you!</p>
            <span class="bottom-title"></span>
          </div>
          <div class="about-icon-warp">
            <div class="col-md-3">
              <div class="iconbox text-center">
                <span class="fa fa-trophy icon-color" aria-hidden="true"></span>
                <h3>Professional</h3>
                <p>We’re confident in our ability to deliver high quality work that meets or exceeds your expectations.</p>
              </div>
              <!-- <div class="iconbox text-center no-mgb">
                <span class="icon icon-library"></span>
                <h4>Speed</h4>
                <p>Over the years, we have been involved in continuous refinement of our project management abilities reaching optimal efficiency. We value our clients' time and guarantee its efficient use.</p>
              </div> -->

            </div>
            <div class="col-md-3">
              <div class="iconbox text-center">
                <span class="fa fa-address-card-o icon-color" aria-hidden="true"></span>
                <h3>Managed Services</h3>
                <p>Devcache has a talented team to assist and provide you with managed services relevant to your needs.</p>
              </div>
              <!-- <div class="iconbox text-center no-mgb">
                <span class="icon icon-briefcase"></span>
                <h4>Experienced</h4>
                <p>We have a team of 20+ experienced and certified professionals ensuring the best user experience regarding all our services.</p>
              </div> -->

            </div>
            <div class="col-md-3">
              <div class="iconbox text-center ">
                <span class="fa fa-briefcase icon-color" aria-hidden="true"></span>
                <h3>Experience</h3>
                <p>We have a team of 20+ experienced and certified professionals ensuring the best user experience regarding all our services.</p>
              </div>
              <!-- <div class="iconbox text-center no-mbg">
                <span class="icon icon-key"></span>
                <h4>Honesty</h4>
                <p>Lorem ipsum dolor sit , consectet adipisi elit, sed do eiusmod tempor for enim adesg ens minim veniam.</p>
              </div> -->
            </div>

            <div class="col-md-3">
              <div class="iconbox text-center">
                <span class="fa fa-rocket icon-color" aria-hidden="true"></span>
                <h3>Quality</h3>
                <p>We provide the high level quality software products and services according to customers requirements.</p>
              </div>
              <!-- <div class="iconbox text-center no-mgb">
                <span class="icon icon-user-check"></span>
                <h4>Trust</h4>
                <p>Lorem ipsum dolor sit , consectet adipisi elit, sed do eiusmod tempor for enim adesg ens minim veniam.</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>