<section class="no-padding sh-team">
  <div class="sub-header ">
    <span>WHAT PEOPLE SAID ABOUT US</span>
    <h1>TESTIMONIALS</h1>
    <ol class="breadcrumb justify-content-center">
        <li>
          <a href="/"><i class="fa fa-home"></i> HOME </a>
        </li>

        <li class="page-active">TESTIMONIALS</li>
      </ol>
  </div>
</section>

<style>
  .link-muted {
    color: #aaa;
  }
  .link-muted:hover {
    color: #1266f1;
  }
</style>

<section class="testimonials-bg">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Justin &amp; Steve - Online Grocery Store</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    September 05, 2022
                  </p>
                </div>
                <p class="mb-0">
                  Rana Arslan is one of the best freelancers I have had the privilege of working with. His communication skills and organization are second to none, and he is a very skilled and experienced full-stack Ruby on Rails engineer. His contributions were instrumental across the entire spectrum of the platform: web app, back end, services and APIs. He is a true professional. Working with him was certainly the most special experience I&#39;ve had working with a freelancer. That&#39;s because Rana Arslan doesn&#39;t approach the relationship like a freelancer at all. Instead he feels truly invested in the product, the team and long-term success. The best way to get the most out of working with Rana Arslan is to treat him as a sounding board and thought partner when it comes to everything from architecture to product to growing the team. He adds valuable insights, ideas and proposals every step of the way. I would absolutely work with Rana Arslan again given the right opportunity. If you are fortunate enough to have the chance to work with Rana Arslan, don&#39;t miss it!
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Lara Stewart</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    July 07, 2022
                  </p>
                </div>
                <p class="mb-0">
                  We originally hired Waqar to assist our team as a front-end developer. Soon after we started working with him, realizing how strong his work ethic and communication skills are, we promoted him to be our lead developer. Shortly after that, we hired two additional members of DevCache to help complete our project. This project was fairly complex and Waqar and other team members have been great to work with from start to finish. I highly recommend them if you&#39;re looking for an RoR development team for your project.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Alexa Bennett</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    June 12, 2022
                  </p>
                </div>
                <p class="mb-0">
                  DevCache under Mian Umair leadership have a great bunch of people with excellent skills, understanding, and communication, I will be working with them again for sure.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(24).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Betty Walker</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    May 10, 2022
                  </p>
                </div>
                <p class="mb-0">
                  We are grateful to have had the opportunity to work with Rana Arslan and Mohammad Zain at DevCache. They are skilled and experienced Ruby on Rails developers who took pride in producing clean and maintainable code. They made important contributions to our back-end and services. Especially in an environment where you are able to carve out ownership of a major component for him and requirements are well-specified, he thrives.&quot;
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Jackson</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 31, 2022
                  </p>
                </div>
                <p class="mb-0">
                  Sajeel Ahmad from DevCache, have the skill of asking the right questions that allows them to dig deeper into the technical issues and business needs. Sajeel isn&#39;t just concerned about completing the job, he is also concerned about doing things the &#39;right way&#39; and leading the team well. That is very valuable for someone like me who is unable to appreciate the technical side of things.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Karim</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    December 26, 2021
                  </p>
                </div>
                <p class="mb-0">
                  Experience with Arslan &amp; Amir Sohail from DevCache was great. His team did amazing work by learning new frameworks and he was very responsive to our comments. I would definitely hire them again for future needs.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/hczKIze.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Jhon</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    September 19, 2021
                  </p>
                </div>
                <p class="mb-0">
                  My experience with Awais at DevCache was great. I worked with him on several emails, landing pages and some ruby on rails work. He did great communication through Skype and email. I would definitely be working with him on some more projects in the future.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="avatar" width="60" height="60" />
              <div>
                <h6 class="fw-bold mb-1">Jackson Haywood</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    April 13, 2021
                  </p>
                </div>
                <p class="mb-0">
                  Syed Rehan from DevCache has the skill of asking right questions that allows him to dig deeper to the technical issues and business needs. He isn&#39;t just concerned about completing the job, he is also concerned about doing things the &#39;right way&#39;. That is a very valuable for someone like me who is unable to appreciate the technical side of things.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/t9toMAQ.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Manimaran</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    December 09, 2020
                  </p>
                </div>
                <p class="mb-0">
                  Mohammad Zain &amp; DevCache team are fast doer and they helped a lot to meet deadlines. Definitely, I will hire them for my future projects.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
               <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/yTFUilP.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">David</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    August 03, 2020
                  </p>
                </div>
                <p class="mb-0">
                  Waqar &amp; Sajeel is a first-class front-end Ruby on Rails developer. He has a very deep knowledge of the RoR framework and coding procedures including linkages with MySQL. His communication skills are excellent and his grasp of written English is perfect. Waqar &amp; Sajeel works hard and suggests better ways of doing things when the situation requires it. He is an extremely diligent coder and a good team player. I recommend Waqar &amp; Sajeel without reservation.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Joseph</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 19, 2020
                  </p>
                </div>
                <p class="mb-0">
                  A total score of 5.00 does not come close to accurately describing Umair, Amir &amp; DevCache Development Team. We have been working for about a month now on 2 projects and I feel Umair is more than a contractor. He is more like a partner when it comes to my endeavors. Working with DevCache Team has been the most hassle free, productive and understanding experience ever. DevCache&#39;s Team output of work is unparalleled, their attentiveness and breadth of knowledge provides ample value to everything. Before I go to anybody else, I will go to DevCache first. Wish everybody the success I found with Umair.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/C4egmYM.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Tushar</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    June 17, 2019
                  </p>
                </div>
                <p class="mb-0">
                  DevCache under Awais’s mentorship have/has got some really skilled developers. They really helped us bring our project from a messy situation to a reasonably good position. I have a lot of faith in the Awais &amp; DevCache Team, which is why I am hiring them again for further work on the project.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/qdiP4DB.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Nathan</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    January 13, 2019
                  </p>
                </div>
                <p class="mb-0">
                  Umair was a great pleasure to work with. He communicates very well and asks the right questions. You can trust him to make the right recommendations, spot issues in advance, and handle things professionally.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Ira</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    October 19, 2018
                  </p>
                </div>
                <p class="mb-0">
                  Rehan Ahmad and the whole development team did a fantastic job getting our project off the ground. All they did is looking really good. We have already moved on to the next phase of development with them. I would highly recommend their work.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/nAcoHRf.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">John Smith</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    May 21, 2018
                  </p>
                </div>
                <p class="mb-0">
                  Syed Rehan and his development team did a fantastic job getting our project off the ground. All they did is looking really good. We have already moved on to the next phase of development with them. I would highly recommend their work.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(24).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Oliver</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    February 08, 2018
                  </p>
                </div>
                <p class="mb-0">
                  DevCache development team is pragmatic, well communicative and self-directed. Design choices were exceptional. I would use this team again certainly.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/uIgDDDd.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Samso Nagaro</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    November 16, 2017
                  </p>
                </div>
                <p class="mb-0">
                  DevCache have great Ruby developers. They completed the project in just few days and fixed all the bugs. They are fast and very skilled over all. I would recommend DevCache to any one who needs quality. Many Thanks.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/tT8rjKC.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">William</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    September 29, 2017
                  </p>
                </div>
                <p class="mb-0">
                  Amir Sohail at DevCache is a great communicator as he understood my requirements and provided feedback to make the task easier. I will keep DevCache in mind for future needs. Thank you for the help.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.imgur.com/8RKXAIV.jpg" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">James Thomas</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    July 14, 2017
                  </p>
                </div>
                <p class="mb-0">
                  DevCache development team does great work and shows a high level of transparency in it. I am a regular client for these reasons.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>